artifacts
infrastructure/liver-disease-gcp-key.json
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
*.tfvars
*.tfvars.json
liver_disease_mlops.egg-info
logs
notebooks/best_liver_model.joblib
notebooks/liver_scaler.joblib
notebooks/train.csv
tensorboard_logs
venv
config/__pycache__
utils/__pycache__
src/__pycache__